
week_4/.idea/vcs.xml
week_5/.idea/misc.xml
week_5/.idea/modules.xml
week_5/.idea/vcs.xml
week_5/.idea/week_5.iml
week_5/.idea/workspace.xml
week_6/.idea/vcs.xml
week_6/cmake-build-debug/week_6.exe
*.xml
*.iml
*.xml
week_6/.idea/vcs.xml
week_8/cmake-build-debug/CMakeFiles/clion-log.txt
week_8/CMakeLists.txt
week_6/.idea/vcs.xml
week_8/CMakeLists.txt
